.About-header {
    z-index: -1;
    font-weight: bold;
    font-size: 3.6vw;
    position: absolute;
    bottom: 40%;
    right: 80px;
}
.About-sub-header {
    z-index: -1;
    font-weight: bold;
    font-size: 2vw;
    position: absolute;
    bottom: calc(40% - 40px);
    right: 80px;
}

.About-contact {
    z-index: 10;
    position: absolute;
    bottom: calc(40% - 120px);
    right: 80px;
    display: flex;
    gap: 80px;
}
.About-contact-item {
    display: flex;
    gap: 4px;
}