@import "tailwindcss";

:root {
  --background: #1b372b;
  --foreground: #dddddd;
  --text: #121111;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.PageWrapper {
  padding: 3vw;
}

.bottom-button {
  @apply bg-(--text) text-2xl flex items-center justify-center gap-4 font-bold w-[50vw] rounded-2xl pt-4 pb-4 absolute bottom-6 hover:opacity-90 cursor-pointer;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Sidebar */
.Sidebar {
  @apply fixed -right-5 w-fit top-12;
}

.Sidebar-list {
  @apply flex flex-col gap-14 text-center;
}

.Sidebar-item {
  @apply block capitalize rotate-270 bg-(--foreground) text-(--text) font-bold p-2 pl-3 pr-3 cursor-pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.Sidebar-item-select {
  @apply bg-(--text) text-(--foreground);
}

.tackstack-icons {
  display: none;
  animation: appear-top 0.2s linear forwards;
}
.project-image:hover .tackstack-icons {
  display: flex;
}

@keyframes appear-top {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 70px;
  }
}

.cloud {
  z-index: -20;
  position: fixed;
  opacity: 0.3;
  animation: cloud-move forwards linear 100s;
}

.first-cloud {
  top: 0;
  left: 20%;
  animation-duration: 140s;
}
.second-cloud {
  top: 20px;
  left: 50%;
  animation-duration: 120s;
}
.third-cloud {
  left: 0;
  top: 10px;
  animation-duration: 100s;
}
.forth-cloud {
  left: 70%;
  top: 0;
  animation-duration: 60s;
}
.five-cloud {
  left: -30%;
  top: 100px;
  animation-duration: 130s;
  animation-delay: 13s;
}
.six-cloud {
  left: -40%;
  top: 30px;
  animation-duration: 90s;
  animation-delay: 10s;
}

@keyframes cloud-move {
  0% {
  }
  100% {
    left: 100%;
  }
}

.anim-slide-disappear {
  animation: slide-disappear linear .3s forwards;
}
.anim-slide-appear {
  animation: slide-appear linear .3s forwards;
}

@keyframes slide-disappear {
  from {
    left: 0;
  } to {
    left: 100%;
  }
}

@keyframes slide-appear {
  from {
    right: 100%;
  } to {
    right: 0;
  }
}